* {
  margin: 0;
  box-sizing: border-box;
}

.doubleblock {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 300px;
  .doubleblock_right {
    outline: 1px solid red;
    text-align: right;
    padding: 100px 60px;
    text-transform: uppercase;
    display: grid;
    grid-auto-rows: 1fr;
    align-content: space-around;
    justify-items: end;
    grid-template-rows: 1fr;
    .doubleblock_title {
      font-size: 32px;
      letter-spacing: 10px;
      color: #333;
    }
    .doubleblock_label {
      margin: 0 0 60px;
      font-size: 20px;
      letter-spacing: 6px;
      color: #666;
    }
    .doubleblock_desc {
      text-transform: none;
      font-size: 14px;
      max-width: 200px;
      display: inline-block;
      letter-spacing: 2px;
    }
    .doubleblock_line {
      width: 3px;
      background-color: #444;
      color: #666;
    }
  }
  .doubleblock_left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    .doubleblock_text + .doubleblock_square {
      margin-top: 10vw;
      margin-bottom: 0;
    }
  }
  .doubleblock_left > div:first-child {
    justify-self: end;
    text-align: right;
  }
  .doubleblock_left > div {
    outline: 1px solid red;
    .doubleblock_square {
      --size: 23vw;
      position: relative;
      right: calc(var(--size) / -4);
      width: var(--size);
      height: var(--size);
      background: #333;
      transform: rotate(45deg);
      margin-bottom: 10vw;
    }
  }
}
